* {
  box-sizing: border-box;
}

:root {
  --color-text-1: rgb(34, 34, 34);
  --color-text-2: rgb(130, 130, 130);
  --color-shadow: rgba(0, 1, 3, 0.2);
  --color-bg-1: rgb(255, 255, 255);
  --color-bg-2: rgb(244, 245, 247);
  --color-bg-3: rgb(226, 227, 229);
  --color-bg-4: rgb(204, 205, 207);
  --header-height: 64px;
  --sidebar-width: 300px;
  --outline-width: 250px;
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  /* COMPUTED */
  --page-left-size: var(--sidebar-width);
  --page-right-size: var(--outline-width);
}

@media screen and (min-width: 1440px) {
  :root {
    --page-left-size: calc(var(--sidebar-width) + 50vw - 720px);
    --page-right-size: calc(var(--outline-width) + 50vw - 720px);
  }
}

body,
html {
  margin: 0;
  font-size: 16px;
  scroll-behavior: smooth;
  font-family: var(--font-family);
  background-color: var(--color-bg-1);
}

html {
  height: 100%;
}

body {
  min-height: calc(100% - var(--header-height));
  margin-top: var(--header-height);
  padding-left: var(--page-left-size);
}

.icon {
  display: block;
  width: 24px;
}

.icon--inline {
  display: inline;
  width: 1em;
  position: relative;
  bottom: -0.15em;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid var(--color-bg-4);
  box-shadow: 0 0 4px 0 var(--color-shadow);
  background-color: var(--color-bg-1);
  z-index: 2;
}

.header__content {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 32px;
  width: calc(var(--sidebar-width) - 36px);
  color: var(--color-text-1);
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: bold;
  padding-right: 16px;
  border-right: 1px solid var(--color-bg-3);
}

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  border-left: 1px solid var(--color-bg-3);
  height: 32px;
}

.search__icon .icon {
  width: 20px;
  margin-right: 12px;
}

.search__input {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 1em;
  height: 24px;
  width: 166px;
  transition: width 0.2s ease-in;
}

.search__input:focus {
  width: 300px;
}

.search__input::placeholder {
  color: var(--color-text-2);
  opacity: 1;
}

.sidebar {
  z-index: 1;
  position: fixed;
  left: 0;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  border-right: 1px solid var(--color-bg-3);
  width: var(--page-left-size);
  background: var(--color-bg-2);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  overflow: scroll;
}

.sidebar__content {
  padding: 32px 0 32px 20px;
  width: var(--sidebar-width);
}

.sidebar__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar__link {
  padding: 8px 16px;
  display: block;
  color: var(--color-text-1);
  text-decoration: none;
  cursor: pointer;
}

.sidebar__link:hover {
  background-color: var(--color-bg-3);
}

.sidebar__item--active .sidebar__link {
  background-color: var(--color-bg-1);
  box-shadow: inset 0 0 0 1px var(--color-bg-3);
  border-right: none;
  margin-right: -1px;
  width: calc(100% + 1px);
}

.sidebar__section {
  margin-top: 16px;
}

.sidebar__section:first-child {
  margin-top: 0;
}

.sidebar__section-title {
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 8px 16px;
  color: var(--color-text-2);
}

.main {
  padding-right: var(--page-right-size);
}

.outline {
  position: fixed;
  top: var(--header-height);
  right: 0;
  width: var(--page-right-size);
  height: calc(100vh - var(--header-height));
  overflow: scroll;
}

.outline__content {
  width: var(--outline-width);
  padding: 32px 36px 32px 0;
}

.outline__title {
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  border-left: 1px solid var(--color-bg-3);
  padding: 8px 0 8px 16px;
  color: var(--color-text-2);
}

.outline__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.outline__item {
  border-left: 1px solid var(--color-bg-3);
  padding: 8px 0 8px 16px;
}

.outline__link {
  font-size: 0.9rem;
  color: var(--color-text-1);
  text-decoration: none;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.outline__item--level-3 {
  padding-left: 24px;
}

.outline__item--level-4 {
  padding-left: 32px;
}

.outline__item--level-5 {
  padding-left: 40px;
}

.outline__item--level-6 {
  padding-left: 48px;
}

.article {
  padding: 32px 64px;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin-top: calc(var(--header-height) * -1);
  padding-top: var(--header-height);
}

.article h1 {
  padding-bottom: 48px;
  border-bottom: 1px solid var(--color-bg-3);
  margin-bottom: 32px;
  font-size: 2rem;
  font-weight: normal;
}

.article h2 {
  margin-bottom: 32px;
  font-size: 1.8rem;
  font-weight: normal;
}

.article p {
  margin: 0 0 32px 0;
}
