$laptop-breakpoint: 1440px;
$tablet-breakpoint: 1150px;
$mobile-breakpoint: 700px;
$line-height-main: 1.15;
$line-height-text: 1.7;

$z-invisible: -1;
$z-header-mobile: 1;
$z-shadow: 2;
$z-sidebar: 3;
$z-sidebar-menu: 4;
$z-header-desktop: 5;
