.article {
  padding: 32px 64px;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  margin-top: calc(var(--header-height) * -1);
  padding-top: var(--header-height);
}

.article h1 {
  padding-bottom: 48px;
  border-bottom: 1px solid var(--color-bg-3);
  margin-bottom: 32px;
  font-size: 2rem;
  font-weight: normal;
}

.article h2 {
  margin-bottom: 32px;
  font-size: 1.8rem;
  font-weight: normal;
}

.heading-link {
  opacity: 0;
  transition: opacity 0.1s;
  font-weight: bold;
  color: var(--color-brand);
  text-decoration: none;
  cursor: pointer;
}

.heading-link:hover {
  text-decoration: underline;
}

.article h1 div:hover .heading-link,
.article h2 div:hover .heading-link,
.article h3 div:hover .heading-link,
.article h4 div:hover .heading-link,
.article h5 div:hover .heading-link,
.article h6 div:hover .heading-link {
  opacity: 1;
}

.article p {
  margin: 0 0 32px 0;
}

.article img {
  max-width: 100%;
}
