.dark-mode {
  display: none;
  background: none;
  color: var(--text-primary);
  border: none;
  padding: 0;
  margin-right: 16px;
  cursor: pointer;

  .icon:nth-child(1) {
    @include only-light;
  }

  .icon:nth-child(2) {
    @include only-dark;
  }
}
