.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  border-bottom: 1px solid var(--color-bg-3);
  box-shadow: 0 0 4px 0 var(--color-shadow);
  background-color: var(--color-bg-1);
  z-index: $z-header-desktop;

  @media (max-width: $mobile-breakpoint) {
    z-index: $z-header-mobile;
  }
}

.header__content {
  max-width: 1440px;
  height: 100%;
  margin: 0 auto;
  padding: 0 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-breakpoint) {
    padding: 0 16px;
    justify-content: center;
  }
}

.header__title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 32px;
  width: calc(var(--sidebar-width) - 32px);
  color: var(--color-brand);
  text-decoration: none;
  font-size: 1.4rem;
  padding-right: 16px;
  border-right: 1px solid var(--color-bg-3);

  @media (max-width: $mobile-breakpoint) {
    width: auto;
    padding: 0;
    border: none;
  }
}

.header__right {
  @media (max-width: $mobile-breakpoint) {
    display: none;
  }
}
