.outline {
  position: fixed;
  top: var(--header-height);
  right: 0;
  width: var(--page-right-size);
  height: calc(100vh - var(--header-height));
  overflow: hidden auto;

  @media (max-width: $tablet-breakpoint) {
    position: static;
    width: 100%;
    height: unset;
  }
}

.outline__checkbox {
  display: none;
}

.outline__content {
  width: var(--outline-width);
  padding: 32px 32px 32px 0;

  @media (max-width: $tablet-breakpoint) {
    width: 100%;
    padding: 32px 32px 0 32px;
  }

  @media (max-width: $mobile-breakpoint) {
    width: 100%;
    padding: 16px 16px 0 16px;
  }
}

.outline__title {
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 300;
  color: var(--text-secondary);
  border-left: 1px solid var(--background-secondary);
  padding: 8px 0 8px 16px;
  user-select: none;
  cursor: pointer;

  @media (max-width: $tablet-breakpoint) {
    padding: 0;
    border: none;

    span::before {
      content: 'Show ';

      .outline__checkbox:checked ~ & {
        content: 'Hide ';
      }
    }
  }
}

.outline__items {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (max-width: $tablet-breakpoint) {
    display: none;
    padding-top: 16px;

    .outline__checkbox:checked ~ & {
      display: block;
    }
  }
}

.outline__item {
  border-left: 1px solid var(--background-secondary);
  padding: 8px 0 8px 16px;

  @media (max-width: $tablet-breakpoint) {
    padding: 4px 0 4px 16px;
  }
}

.outline__link {
  font-size: 0.9rem;
  color: var(--text-primary);
  text-decoration: none;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}

.outline__item--level-3 {
  padding-left: 24px;
}

.outline__item--level-4 {
  padding-left: 32px;
}

.outline__item--level-5 {
  padding-left: 40px;
}

.outline__item--level-6 {
  padding-left: 48px;
}
