.search {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 16px;
  border-left: 1px solid var(--background-secondary);
  height: 32px;

  @media (max-width: $tablet-breakpoint) {
    padding-left: 0;
    border: none;
  }
}

.search__icon .icon {
  width: 20px;
  margin-right: 12px;
  color: var(--theme);
}

.search__input {
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  padding: 0;
  font-size: 1em;
  height: 24px;
  width: calc(var(--outline-width) - 80px);
  transition: width 0.2s ease-in;
  color: var(--text-primary);
  background-color: transparent;

  &:focus {
    width: 300px;
  }

  &::placeholder {
    color: var(--text-secondary);
    font-weight: 300;
    opacity: 1;
  }
}
