.sidebar {
  z-index: $z-sidebar;
  position: fixed;
  left: 0;
  top: var(--header-height);
  height: calc(100vh - var(--header-height));
  border-right: 1px solid var(--background-secondary);
  width: var(--page-left-size);
  background: var(--sidebar-background);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden auto;

  @media (max-width: $mobile-breakpoint) {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    width: 250px;
    height: 100%;
    top: 0;
    left: -250px;
    transition: left 0.2s;

    .sidebar__checkbox:checked ~ & {
      left: 0;
    }
  }
}

.sidebar__checkbox {
  display: none;
}

.sidebar__shadow {
  position: fixed;
  display: block;
  z-index: $z-shadow;
  background-color: rgba(0, 0, 0, 0);
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: background-color 0.2s, left 0.2s step-end;

  @media (max-width: $mobile-breakpoint) {
    .sidebar__checkbox:checked ~ & {
      left: 0;
      background-color: rgba(0, 0, 0, 0.4);
      transition: background-color 0.2s, left 0.2s step-start;
    }
  }
}

.sidebar__icons {
  display: none;
  height: 48px;

  @media (max-width: $mobile-breakpoint) {
    display: flex;
    align-items: center;
  }
}

.sidebar__content {
  padding: 32px 0;
  width: var(--sidebar-width);
  flex: 1;

  @media (max-width: $mobile-breakpoint) {
    padding-top: 16px;
  }
}

.sidebar__items {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sidebar__link {
  padding: 8px 16px 8px 32px;
  display: block;
  color: var(--text-primary);
  text-decoration: none;
  cursor: pointer;

  .sidebar__item--active & {
    background-color: var(--background-primary);
    box-shadow: inset 0 0 0 1px var(--background-secondary);
    border-right: none;
    margin-right: -1px;
    width: calc(100% + 1px);
    color: var(--theme);
    padding: 8px 16px 8px 28px;
    border-left: 4px solid var(--theme);

    &:hover {
      background-color: var(--background-primary);
    }
  }

  &:hover {
    background-color: var(--shadow);
  }
}

.sidebar__section {
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }
}

.sidebar__section-title {
  display: block;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 400;
  padding: 8px 16px 8px 32px;
  color: var(--text-secondary);
}

.sidebar__powered {
  width: var(--sidebar-width);
  padding: 16px;
}

.sidebar__powered-link {
  background-color: var(--sidebar-powered);
  padding: 8px 16px;
  border-radius: 8px;
  display: block;
}

.sidebar__powered-image {
  display: block;
  max-width: 120px;
  opacity: 0.3;
  filter: invert(0);

  html[data-theme='light'] & {
    filter: invert(0);
  }

  html[data-theme='dark'] & {
    filter: invert(1);
  }

  @media (prefers-color-scheme: dark) {
    filter: invert(1);
  }
}
